body{
    font-family:Calibri, Helvetica, sans-serif;
    padding:0;
    margin:0;
    height: 100%;
}

html {
    height: 100%;
}

.topBar{
    text-align: center;
    background: #465059;
    padding: 5px;
    color: white;
    font-size:25px;
}

.menuBar{
    float: left;
    background: #62B2FF;
    height: 100%;
    width:200px;
    margin-right: 50px;
    color:#FFFFFF;
}

.firstLetter{
      color:#62B2FF;
  }

ul{
      margin: 0;
      padding: 0;
}

li{
    font-size:20px;
    text-align: center;
    padding: 5px;
    
}

a{
   text-decoration: none;
   color:#FFFFFF;
  }

a:hover{
    text-decoration: none;
    color:#FFFFFF;
}
li:hover{
    background: #465059;
}

.clicked{
    margin-top:8px;
    float:right;
    background: #FFFFFF;
    width:10px;
    height: 10px;;
}


.pre-scrollable {
    margin-top:50px;
    margin-right:50px;
    max-height: 400px;
}

td a{
    margin-right: 5px;
    color:#000000;
}

td a:hover{
    color:blue;
}

@media only screen and (max-width:600px){
.menuBar{ 
    display: none; 
  }
}